@model DeleteCelebrityViewModel
@{
    ViewData["Title"] = $"Delete {Model.FullName}";
}

<div class="container mt-4">
    <h2>Удаление знаменитости</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="@($"{ViewBag.PhotosRequestPath}/{Model.PhotoPath}")" 
                 class="img-thumbnail" 
                 alt="Photo to delete">
        </div>
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">Полное имя:</dt>
                <dd class="col-sm-9">@Model.FullName</dd>
                <dt class="col-sm-3">Национальность:</dt>
                <dd class="col-sm-9">@Model.CountryName</dd>
            </dl>
        </div>
    </div>
    <form asp-action="DeleteConfirmed" method="post" class="mt-4">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a asp-action="Human" asp-route-id="@Model.Id" class="btn btn-secondary">Отмена</a>
    </form>
</div>